backports.shutil-get-terminal-size==1.0.0
cffi==1.6.0
cryptography==3.3.2
decorator==4.0.9
idna==2.1
ipython==7.16.3
ipython-genutils==0.1.0
paramiko==2.10.1
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
requests==2.20.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
xmltodict==0.10.1
